# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
*.classpath
*.project
*.settings/
bin/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

